<div ng-init="app.footer.hidden = true" class="container-fh">
   <div class="l-table-fixed">
      <div class="l-cell wd-md br bg-gray-light">
         <div class="l-table">
            <div class="l-row">
               <div class="l-cell-wrapper">
                  <div class="l-cell-inner">
                     <div class="p">
                        <p>Top</p>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <p>Bottom</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="p bt">
               <p>Footer</p>
            </div>
         </div>
      </div>
      <div class="l-cell br v-middle bg-gray-lighter">
         <div class="p">
            <p class="lead text-center">Fully centered text</p>
         </div>
      </div>
      <div class="l-cell wd-md">
         <div class="l-table">
            <div class="l-row">
               <div class="l-cell-wrapper">
                  <div class="l-cell-inner">
                     <div class="p">
                        <p>Top</p>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <p>Bottom</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>